@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'RobotoCondensed';
  src: url('/fonts/roboto-condensed/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('/fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .translate-50 {
    --tw-translate-x: -50%;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y));
  }
}

@layer components {
  .body {
    font-family: var(--open-sans) !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 150% !important;
  }
  .paragraph {
    color: #0070f3;
    font-style: italic;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: RobotoSlab;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}